@model List<MyWorkManagerSN.Model.Quote>

@{
    ViewData["Title"] = "Tous les devis";
    string userId = ViewData["userId"] as string;
    MyWorkManagerSN.Model.User user = ViewData["user"] as MyWorkManagerSN.Model.User;
}


<style>

    .content-body .container-fluid {
        padding-top: 0;
    }

    .modeNotSelected {
        color: grey;
        border-color: grey;
    }

        .modeNotSelected:hover {
            color: white;
        }

</style>

<div class="content-body" style="margin:auto; padding:0 5% 0 5%">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Devis</a></li>
            </ol>
        </div>
    </div>
    <h2>Tous les devis</h2>

    <div class="">
        <div class="row">
            <button type="button" id="addQuote" data-acionType="add" class="action btn mb-1 btn-primary" style=" margin-left: 2%;">Ajouter un devis</button>
            <div class="input-group-prepend col-md-7">
            </div>
            <input id="serachInput" type="search" class="form-control col-md-2 " placeholder="Recherche" aria-label="Search Dashboard">

        </div>



        <div style="margin-top: 2%;" class="card">
            <div class="card-body">
                <div class="default-tab">
                    <ul class="nav nav-tabs mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active status" data-toggle="tab" href="#all" data-etat="">Tous les devis</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link status" data-toggle="tab" href="#all" data-etat="En cours">Devis en cours</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link status" data-toggle="tab" href="#all" data-etat="Gagné">Devis gagnés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link status" data-toggle="tab" href="#all" data-etat="Perdu">Devis perdus</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="all" role="tabpanel">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-bordered table-striped verticle-middle dataTableConfig ">
                                    <thead>
                                        <tr>
                                            <th scope="col">N° Devis</th>
                                            <th scope="col">Client</th>
                                            <th scope="col">Montant Total TTC</th>
                                
                                            <th scope="col">Statut</th>
                                            <th scope="col" date-type="date">Date de création</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (MyWorkManagerSN.Model.Quote quote in Model)
                                        {
                                            <tr>
                                                <td><a href="@Url.Action("Show","Quote", new { id = quote.ID })" style="text-decoration-line: underline; font-size: initial; font-weight: initial;">DV-@String.Format("{0:0000}", quote.NumQuote)</a></td>
                                                @{
                                                    MyWorkManagerSN.Model.Customer c = new MyWorkManagerSN.Service.DbManager<MyWorkManagerSN.Model.Customer>().GetById(userId, quote.CustomerId);
                                                }
                                                <td>@c.Surname @c.Name</td>

                                                <td data-type="amount">@quote.AmountTotal @ViewData["devise"]</td>
                                               


                                                <td>@quote.Status</td>

                                                <td data-type="date">@quote.DateCreation.ToString("dd/MM/yyyy")</td>


                                            </tr>

                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>





    </div>
    <div class="modal fade" id="exampleModals" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Ajouter une devis</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form id="catForm">
                    <div class="modal-body">

                        <p>Rechercher un client par : </p>
                        <input type="radio" name="searchType" id="searchType1" value="Prenom_Nom" checked>
                        <label class="mr-3" for="searchType1">Prénom Nom</label>
                        <input type="radio" name="searchType" id="searchType2" value="Email">
                        <label class="mr-3" for="searchType2">Email</label>
                        <input type="radio" name="searchType" id="searchType3" value="Mobile">
                        <label class="mr-3" for="searchType3">Mobile</label>
                        <br />
                        <div class="autocomplete" style="display: inline-flex; width: -webkit-fill-available;">
                            <input id="inputAutoComplete" class="form-control input-default" data-controller="Customer" type="text" required name="myCountry" placeholder="Client" autocomplete="off">
                            <a id="addNewCustomer" type="button" href="#" class="btn-floating btn-blue-grey col-md-2" style="align-self: center;"><i class="fa fa-plus-circle"></i></a>
                        </div>
                        <br />

                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Date de création</label>
                            <div class="input-group">
                                <input type="text" class="form-control" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="datepickerCustom" placeholder="dd/mm/yyyy" required> <span class="input-group-append"><span class="input-group-text"><i class="mdi mdi-calendar-check"></i></span></span>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        <button type="submit" id="editModelSubmit" class="btn btn-info">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <partial name="../Customer/PartialCreateCustomer" />
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript" src="~/js/createCustomer.js"></script>
<script type="text/javascript" src="~/js/sortTable.js"></script>

@*<script type = "text/JavaScript" src = "https://MomentJS.com/downloads/moment.js"></script>*@
<script type="text/javascript">

    
    $(document).ready(function () {
        $('.dataTables_length').addClass('bs-select');
        var IsSubscription = false;
        var seachType = "Prenom_Nom";
        $('#serachInput').on('keyup', function () {
            var input, filter;
            var status = $($(".nav-link.active.status")[0]).attr("data-etat");
            input = document.getElementById("serachInput");
            filter = input.value.toUpperCase();
            datatable.search(filter).draw();
        });

        $('.status').on('click', function () {
            var status = $(this).attr("data-etat");
            datatable.column(4).search(status).draw();
        });

        $("input").removeAttr('readonly');
        $("#datepickerCustom").attr("readonly", true);

        $("#catForm").submit(function (event) {
            event.preventDefault();
            if(document.getElementById('catForm').checkValidity()){
                $.post("/Quote/CreateQuote", { date: $("#datepickerCustom").val(), customerId: $("#inputAutoComplete").attr("data-id")}, function (res) {
                if (res.success) {
                    toastSuccess("Succès", res._acts.title);
                   // window.location.href = "/Quote/Show/" + res._acts.quoteId;
                } else {
                    console.log(res)
                    toastError("Erreur", res._acts.title)
                }
            }
            );
            }
        });


        $("#addQuote").click(function () {
            autocomplete(document.getElementById("inputAutoComplete"), seachType);

            $("#exampleModals").modal();


        });

        const buttons = document.querySelectorAll("input[type='radio']");

        // adding event to all radio buttons
        buttons.forEach(button => {
            button.onclick = () => {
                if (button.checked) {
                    seachType = button.value;
                    autocomplete(document.getElementById("inputAutoComplete"), seachType);
                    $("#inputAutoComplete").val("");
                }
            }
        })




            ; (function ($) {
                $.fn.datepicker.dates['fr'] = {
                    days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
                    daysShort: ["Dim.", "Lun.", "Mar.", "Mer.", "Jeu.", "Ven.", "Sam."],
                    daysMin: ["D", "L", "Ma", "Me", "J", "V", "S"],
                    months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                    monthsShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                    today: "Aujourd'hui",
                    monthsTitle: "Mois",
                    clear: "Effacer",
                    weekStart: 1,
                    format: "dd/mm/yyyy"
                };
            }(jQuery));

        $('#datepickerCustom').datepicker({
            language: 'fr',
            autoclose: true,
            todayHighlight: true
        });


    });

</script>