@model MyWorkManagerSN.Model.Order
@{
    ViewBag.Title = "Facture";
    Layout = null;
    string userId = ViewData["userId"] as string;
    MyWorkManagerSN.Model.Customer customer = ViewData["Customer"] as MyWorkManagerSN.Model.Customer;
    MyWorkManagerSN.Model.User user = ViewData["user"] as MyWorkManagerSN.Model.User;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Invoice</title>

    <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
    <link href="~/Content/css/DefaultFacture.css" rel="stylesheet">


</head>
<body>
    <header>
        <h1>Facture</h1>


        <div id="destinataire_info">
            <p>@user.CompanyName</p>
            <p>@user.Mobile</p>
            <p>@user.Address.Rue</p>
            <p>@user.Address.Complement</p>
            <p>@user.Address.CodePostal @user.Address.Ville, @user.Address.PaysCode </p>
        </div>

        <div id="yourCompany_info">
            <div><img alt="jhv" height="90px" src="https://pixy.org/src/21/219269.jpg"></div>
            <b>Destinataire</b>
            <p>@customer.Surname @customer.Name</p>
            <p>@customer.Mobile</p>
            <p>@customer.Address.Rue</p>
            <p>@customer.Address.Complement</p>
            <p>@customer.Address.CodePostal @customer.Address.Ville, @customer.Address.PaysCode </p>
          
        </div>
    </header>
    <article>

        <table class="meta">
            <tr>
                <th><span contenteditable>Facture</span></th>
                <td><span contenteditable>F101138</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Date</span></th>
                <td><span contenteditable>11/02/2022</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Amount Due</span></th>
                <td><span id="prefix" contenteditable>$</span><span>600.00</span></td>
            </tr>
        </table>
        <table class="inventory">
            <thead>
                <tr>
                    <th><span contenteditable>Désignation</span></th>
                    <th><span contenteditable>Quantité</span></th>
                    <th><span contenteditable>Prix unitaire HT</span></th>
                    <th><span contenteditable>Remise</span></th>
                    <th><span contenteditable>Montant HT</span></th>
                    <th><span contenteditable>TVA</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (MyWorkManagerSN.Model.OrderLine line in Model.Lines)
                {
                    MyWorkManagerSN.Model.Product product = new MyWorkManagerSN.Service.DbManager<MyWorkManagerSN.Model.Product>().GetById(userId, line.ProductId);
                    MyWorkManagerSN.Model.Category cat = new MyWorkManagerSN.Service.DbManager<MyWorkManagerSN.Model.Category>().GetById(userId, product.CategoryId);
                <tr>
                    <td><a class="cut">-</a><span contenteditable>@cat.Label - @product.Label</span></td>
                    <td><span contenteditable>@line.Quantity</span></td>
                    <td><span data-prefix></span><span contenteditable>@line.UnitPrice @ViewData["devise"]</span></td>
                    <td><span contenteditable>@line.Discount @ViewData["devise"]</span></td>
                    <td><span data-prefix></span><span>@line.AmountTotalHT @ViewData["devise"]</span></td>
                    <td><span data-prefix></span><span>@line.TVA%</span></td>
                </tr>
                }
                </tbody>
        </table>

        <table class="balance">
            <tr>
                <th><span contenteditable>Total HT</span></th>
                <td><span data-prefix>$</span><span>600.00</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Total Taxes</span></th>
                <td><span data-prefix>$</span><span contenteditable>0.00</span></td>
            </tr>
            <tr>
                <th><span contenteditable>Total TTC</span></th>
                <td><span data-prefix>$</span><span>600.00</span></td>
            </tr>
        </table>
    </article>

</body>
</html>